.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #db8b8b;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}